@page "/names"


<h3>Names</h3>

@*@foreach (var item in Names)
{
    @item
    <br />
}*@

@code {

    //public List<string> Names = new List<string>()
    //{
    //    "Pooja",
    //    "Suneeta"
    //};

}
